<div class="container">
	<div class="col-md-12">
		<h2>Carts Details</h2>
		<br>
		<%= render 'carts/cart' %>

		<h5>Total: <%= number_to_currency @cart.total_price %></h5>
		<br>
		<%= button_to 'Checkout', new_order_path, method: :get %>

		<%= link_to 'Back to Store', shop_path %>
		<br>
		<%= link_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'You sure?'} %>
	</div>
</div>